# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# MacOS/Windows trash
.DS_Store
Thumbs.db

# Build & Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Uploads & Temp files
backend/uploads/*
!backend/uploads/.gitkeep
