# Cấu hình Server Backend
PORT=3000
NODE_ENV=development

# Cấu hình Database MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=viral_window_db

# Secret Key cho JWT (Nếu có)
JWT_SECRET=your_jwt_secret_key_here
